<p>
	<h3>Créditos del Proyecto</h3><sup>Licencia de uso gratuito 2015</sup>
	<br>
	<i>Creado por Francisco Gutiérrez</i><br><br>
	<img src="/images/foto.jpg" alt="Francisco Gutiérrez" border="1px">
	<br>
</p>