<h2>Escriba su nombre de usuario y password, por favor</h2>

<form method='POST' action='/login'>
<br>  
  <div class="field">
	<label for="login">Usuario:</label><br/>
	<input type="text" id="login" name="login" size="30" />
  </div>

  <div class="field">
	<label for="password">Password:</label><br/>
	<input type="text" id="password" name="password" size="30" />
  </div>   
  <br>
  <div class="actions">
  	<input name="commit" type="submit" value="login"  />
  </div>
  
 </form>	 	
